In [2]:
import pandas as pd

In [3]:
#Reading the file
df = pd.read_csv("Datasets/direct_marketing.csv")
#Content
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [11]:
#Showing only one column; Slicing by using .operator
(df.recency).head()

0    10
1     6
2     7
3     9
4     2
Name: recency, dtype: int64

In [12]:
#Another way of slicing using the [] opertor
(df["recency"]).head()

0    10
1     6
2     7
3     9
4     2
Name: recency, dtype: int64

In [4]:
 #Double bracket == output is a dataframe
(df[["recency"]]).head()

   recency
0       10
1        6
2        7
3        9
4        2

In [5]:
#Apparently loc, iloc and ix methods are very optimized
df.loc[:,'recency'].head()

0    10
1     6
2     7
3     9
4     2
Name: recency, dtype: int64

In [8]:
df.loc[:,['recency']].head()

   recency
0       10
1        6
2        7
3        9
4        2

In [10]:
df.iloc[:,0].head()

0    10
1     6
2     7
3     9
4     2
Name: recency, dtype: int64

In [12]:
df.iloc[:,[0]].head()

   recency
0       10
1        6
2        7
3        9
4        2

In [17]:
df.ix[:,0].head()

0    10
1     6
2     7
3     9
4     2
Name: recency, dtype: int64

In [19]:
# .loc[] or iloc[], ix[] : select by rows
#.loc[] and ix[] are inclusive of the last element, but slicing with iloc is not !
df[0:2]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11

In [24]:
df.loc[0:2,:]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1

In [22]:
df.iloc[0:2,:]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11

In [23]:
df.ix[0:2,:]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1